DB_STRING="<YOUR DB STRING GOES HERE WITH SCHEMA>"
YT_TO_MP3_URL="<YOUR YT TO MP3 API URL GOES HERE>"
QUERY_PARAM_YT_TO_MP3_URL=id
RAPID_API_KEY="<YOUR RAPID API KEY GOES HERE>"
RAPID_API_HOST="<YOUR RAPID API HOST GOES HERE>"
YOUTUBE_API_KEY="<YOUR GOOGLE API KEY GOES HERE>"
PYTHONDONTWRITEBYTECODE=1